.container {
    margin-top: 5%;
}

#headerdiv {

    margin-top: 60px;
    display: flex;
    justify-content: center;
    width: 50%;
    margin-left: 25%;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

#headerid {
    font-weight: 800;

}


body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.9;
}